<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="../">Productos</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ product.title }}
      </li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-3">
          <img
          [src]="product.image"
          class="card-img-top my-2"
          alt="..."
        />
        </div>
        <div class="col-12 col-md-9 pt-5">
          <h3>{{ product.title }}</h3>
          <span class="badge rounded-pill bg-primary">{{ product.category }}</span>
          <p class="fs-5">
            {{ product.description }}
          </p>
          <h1>
            <span>$ {{ product.price }}</span>
            <button class="btn btn-primary">
              Agregar
              <i class="fas fa-shopping-cart"></i>
            </button>
          </h1>
          
        </div>
      </div>

      
    </div>
  </div>
</div>
