<div class="row">
    <div class="col-md-12 text-center">
        <div class="btn-group">
            <a href="#" class="btn btn-primary" routerLinkActive="active" [routerLink]="['nuevo']">Nuevo</a>
            <a href="#" class="btn btn-primary" routerLinkActive="active" [routerLink]="['detalle', '1']">Detalle</a>
            <a href="#" class="btn btn-primary" routerLinkActive="active" [routerLink]="['editar', '1']">Editar</a>
          </div>
    </div>
</div>

<router-outlet></router-outlet>