<app-sidebar-container>
  <app-sidebar #sidebar [open]="true"
    (opened)="log('el sidebar se ha abierto')"
    (closed)="log('el sidebar se ha cerrado')"
    (updated)="log($event)">
    SideBar
    <app-sidebar-footer>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-sm btn-primary">Configuración</button>
        <button type="button" class="btn btn-sm btn-primary">Cerrar Sesión</button>
      </div>
    </app-sidebar-footer>
  </app-sidebar>
  <app-sidebar-content>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" (click)="sidebar.toggle()">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
      </div>
    </nav>
    <div class="container">
      <span #spanBadge class="badge bg-primary">
        <span>icono</span>
        Primary
      </span>
      <span class="badge bg-secondary">Secondary</span>
      <span class="badge bg-success">Success</span>
      <span class="badge bg-danger">Danger</span>
      <span class="badge bg-warning text-dark">Warning</span>
      <span class="badge bg-info text-dark">Info</span>
      <span class="badge bg-light text-dark">Light</span>
      <span class="badge bg-dark">Dark</span>
    
      <br />
    
      <!--
      Alternativa input "value"
      <app-badge tier="secondary" value="Secondary"></app-badge>
    -->
      <!-- Alternativa Proyección de contenido -->
      <app-badge tier="primary">Primary</app-badge>
      <app-badge tier="secondary">Secondary</app-badge>
      <app-badge tier="success">Success</app-badge>
      <app-badge tier="danger">Danger</app-badge>
      <app-badge tier="warning">Warning</app-badge>
      <app-badge tier="info">Info</app-badge>
      <app-badge tier="light">Light</app-badge>
      <app-badge tier="dark">Dark</app-badge>
      <br />
      <app-button tier="primary">
        <i end class="fa fa-star-o" aria-hidden="true"></i>
        Primary
      </app-button>
      <app-button tier="primary">
        Primary
        <i start class="fa fa-star-o" aria-hidden="true"></i>
      </app-button>
      <app-button tier="secondary">Secondary</app-button>
    
      <div class="row mb-3">
        <div class="col-4">
          <app-card class="my-card p-3">
            Hola Mundo
          </app-card>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <button (click)="loading = !loading">{{ loading ? 'parar' : 'cargar' }}</button>
          <input type="text" [(ngModel)]="loadingTier" >        
          <app-spinner *ngIf="loading" [tier]="loadingTier">
            Ciclo de vida
          </app-spinner>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          
          <app-tab-group>
            <app-tab title="Tab 1">
              Contenido 1
            </app-tab>
            <app-tab title="Tab 2">
              Contenido 2
            </app-tab>
            <app-tab title="Tab 3">
              Contenido 3
            </app-tab>
            <app-tab title="Tab 4">
              Contenido 4
            </app-tab>
          </app-tab-group>

        </div>
      </div>
    
    </div>
    
  </app-sidebar-content>
</app-sidebar-container>