<div class="row m-3">
    <div class="col">
        <input #termimo (keyup)="SearchArtist(termimo.value)" class="form-control" placeholder="Buscar artista">
    </div>
</div>

<div *ngIf="Error" class="alert alert-danger animated fadeIn m-5">
    <h3>Error</h3>
    <p>{{MensajeError}}</p>
</div>

<app-loading *ngIf="Loading"></app-loading>

<div *ngIf="!Loading && !Error" class="row row-cols-1 row-cols-md-3 g-4 m-3">
    <div class="col-md-2" *ngFor="let cancion of Canciones">

        <app-tarjeta [item]="cancion"></app-tarjeta>

    </div>
</div>